@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-100thin-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-100thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-100thinitalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-100thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-200xlight-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-200xlight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-200xlightitalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-200xlightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-300light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-300lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-300lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-400italic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-400italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-500medium-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-500medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-500mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-500mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-600semibold-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-600semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-600semibolditali-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-600semibolditali-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-700bold-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-700bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-700bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-700bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-800black-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-800black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-800blackitalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-800blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-900xblack-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-900xblack-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans';
    src: url('./fonts/sinkinsans-900xblackitalic-webfont.woff2') format('woff2'),
         url('./fonts/sinkinsans-900xblackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 14px;
    --color_1: rgba(0, 0, 255, 0.753);
    --color_2: rgba(207, 195, 36, 0.74);
}
.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 120px;
    min-height: 100vh;
}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color_1);
    color: white;
    font-family: 'sinkin_sans';
    font-size: 14px;
}
.sidebar-title{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.sidebar-title svg{
    width: 40px;
    fill: white;
}
ul.navigation-links, .settings-links{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
ul.navigation-links > li, .settings-links > li{
    display: flex;
    gap: 7px;
    align-items: center;
}
.sidebar ul img{
    width: 20px;
    fill: white;
}

.sidebar ul svg{
    width: 20px;
    fill: white;
}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    align-items: center;
    align-content: center;
    box-shadow: 0 10px 10px -10px black;
    font-family: 'sinkin_sans';
    font-size: 12px;
}
form.search{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    gap: 10px;
    align-items: center;
}
form.search > input[type="image"]{
    width: 20px;
}
input#search{
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: rgb(227, 232, 240);
    box-shadow: none;
    flex: 1 1 auto;
}

.profile{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
img#bell-icon{
    width: 20px;
}
img#profile-icon-small{
    width: 20px;
    border-radius: 50%;
}
.profile-large{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile-large > img{
    width: 40px;
    border-radius: 50%;
}
.profile-large > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.action-buttons{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    gap: 10px;
    justify-content: end;
}
.action-buttons > button{
    height: 25px;
    width: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color_1);
    color:aliceblue;
}

.content{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-areas: "projects announcements"
                        " projects trending";
    background-color: rgba(227, 232, 240, 0.871);
}
.projects-container{
    grid-area: projects;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'sinkin_sans';


}
.projects-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
.projects{
    display: grid;
    grid-template-rows: 20px 1fr 30px;
    gap: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -10px black, inset 5px 0 var(--color_2);
    font-size: 11px;
}
.project-title{

}
.project-quick-actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.project-quick-actions > img{
    width: 15px;
}
.announcements-container{
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'sinkin_sans';

}
.announcements-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -10px black;
    padding: 20px;
    
}
.announcements{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 9.5px;
    padding: 0 2px;
}
.line{
    height: 1px;
    background-color: rgba(128, 128, 128, 0.255);
}
.trending-container{
    grid-area: trending;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'sinkin_sans';

}
.trending-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -10px black;
    font-size: 10px;
}
.trending-item{
    display: flex;
    gap: 10px;
    align-items: center;
}
.trending-item > img{
    width: 30px;
    border-radius: 50%;
}